body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #222;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap; /* Makes it responsive */
}

.header-text {
    flex: 1;
}

.header-text h1 {
    margin: 0;
}

.header-text p {
    margin: 5px 0 15px 0;
}

.header-text nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.header-image img {
    /* width: 120px;  */
    /* height: 120px; */
    border-radius: 50%; /* makes it a circle */
    object-fit: cover;
}


nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.projects div {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    margin-top: 20px;
}